{% extends 'base.html' %}

{% block content %}

<details data-filter-title="Фильтр проектов" open>
  <summary>
    Фильтр проектов
  </summary>
  <ul>
    {% for pr_filter in projects_filter %}
    <li>
      <a href="{{pr_filter.0}}">{{pr_filter.1}}</a>
    </li>
    {% endfor %}
  </ul>
</details>

{% for project in projects %}
<div class="card text-left">
  <h5 class="card-header text-center">{{ project.name|capfirst }}</h5>
  <div class="card-body">
    <p class="card-text">{{ project.description|truncatewords:20 }}</p>
    {% for task in project.tasks.all %}
    <a href="{{ task.get_absolute_url }}" class="btn btn-primary">{{ task.name|truncatechars:12 }}</a>
    {% endfor %}
  </div>
  <div class="card-footer text-muted">
    {% if project.is_active %}
    Проект активен
    {% else %}
    Проект неактивен
    {% endif %}
  </div>
</div>
{% endfor %}

{% endblock %}


{% block navigation %}

<ul class="pagination">
  {% if page_obj.has_previous %}
  <li class="page-item">
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% endif %}
  {% for page in paginator.page_range %}
  {% if page_obj.number == page %}
  <li class="page-item">
    <a class="page-link current-page">{{ page }}</a>
  </li>
  {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %} <li class="page-item">
    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
</ul>

{% endblock %}
