{% extends 'base.html' %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    <h5>{{ task.name|capfirst }}</h5>
  </div>
  <div class="card-body">
    <div class="inner-card-body">

      <p class="card-text">{{ task.description }}</p>

      <ul class="task-block">
        {% if task.employees.all %}
        <h5>Над задачей работают:</h5>
        {% for employee in task.employees.all %}
        <li>{{ employee.name }}</li>
        {% endfor %}
        {% else %}
        <h5>Над задачей пока никто не работает</h5>
        {% endif %}
      </ul>

    </div>
  </div>
  <div class="card-footer text-muted">
    <p>Статус задачи: {{ task.get_status_display }}</p>
    <p>Срок исполнения: {{ task.deadline }}</p>
    <p>Проект: {{ task.project.name|capfirst }}</p>
  </div>
</div>
{% endblock %}

{% block comments %}

<form action="{% url 'projects:add_comment' pk=task.id %}" method="post">
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for field in form %}
  <div class="mb-3">
    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>{{ field }}
  </div>
  <div class="form-error">{{ field.errors }}</div>
  {% endfor %}
  <p><button class="btn btn-primary btn-comment" type="submit">Отправить</button></p>
</form>

{% for comment in task.comments.all %}
<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ comment.written_in }}</h6>
    <p class="card-text">{{ comment.text }}</p>
  </div>
</div>
{% endfor %}
{% endblock %}
