@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto&display=swap');

p, ul {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(227, 240, 229);
  color: #0c1018;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header {
  padding: 20px 0;
  background-color: #b9c5e7;
  font-size: 20px;
  margin-bottom: 10px;
}

.main-page-link {
  color: #0c1018;
  border: 1px solid #869fe4;
  background-color: #9db4f1;
  padding: 2px;
  border-radius: 10px;
}

.main-page-link:hover {
  background-color: #b9c5e7;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav h1 {
  margin: 15px 40px;
}

.logo-img {
  width: 60px;
}

.card {
  border: 2px solid #b9c5e7;
  margin-bottom: 10px;
}

.card-header,
.card-footer {
  background-color: rgb(193, 240, 224);
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-footer p {
  margin: 0;
}

.card-body {
  background-color: #edf1e0;
}

.btn {
  margin: 2px;
  font-size: 14px;
}

.inner-card-body {
  display: flex;
  align-items: flex-start;
}

.inner-card-body p:first-child {
  text-align: start;
  width: 650px;
  text-align: justify;
}

.task-block {
  margin-left: 10px;
}

.task-block li,
.task-block h5 {
  text-align: left;
}

.pagination {
  justify-content: center;
  margin: 30px 0;
}

.page-link {
  padding: 16px 24px;
  font-size: 20px;
}

.current-page {
  cursor: default;
  background-color: #e9e9e9;
}

.current-page:hover {
  opacity: 1;
  background-color: #e9e9e9;
}

.form-label {
  display: inline-block;
  min-width: 150px;
  vertical-align: top;
  padding-left: 5px;
  margin: 0;
}

.mb-3 {
  margin: 0 !important;
  padding: 0 10px 5px 10px;
}

.btn-comment {
  margin: 0 0 15px 15px;
}
